.featured-products {
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 30px;

    text-align: center;
  }
  
  .product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product h3 {
    margin: 10px 0;
  }
  
  .product p {
    font-size: 14px;
    color: #555;
  }
  
  .product button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .product button:hover {
    background-color: #45a049;
  }
  